.ReactCodeMirror { height: 100%; width: 750px; margin: 10px; margin: 0px; }
.CodeMirror { height: 100%; width: 100%; }
#layout { float: left; }
#editor { float: left; }
#output { float: left; width: 750px; overflow: auto; }
body { background-color: floralwhite; }

a {
  text-decoration: none;
}

nav {
    font-family: monospace;
    float: right;
}

ul {
  background: #607d8b;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
  background: #607d8b;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover {
    background: #34515e;
    cursor: pointer;
}

ul li ul {
    background: #607d8b;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
